* {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    background-color: #30475e;
    color: #ececec;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Kanit", sans-serif;
}

.container-fluid {
    width: 100%;
}
ul {
    padding-left: 0;
}

li {
    list-style: none;
    display: inline-block;
}

hr {
    background-color: #f2a365;
}
.hero {
    display: none;
}

@media (min-width: 768px) {
    .container-fluid {
        width: 70%;
    }
    .hero {
        display: block;
    }
}
